
<ul class="nav nav-pills" >
  <li class="tab-size" style="width:<%getTabSize()%>%;"  ng-repeat="section in sectionsData" ng-class="{active:sectionActive($index)}">
    <a href="#/" data-toggle="tab">
      <%section.seccionName%>
    </a>
  </li>
</ul>  


 
<!-- Panel Selectio-->
<div class="panel panel-default" ng-repeat="section in sectionsData" ng-show="sectionActive($index)">
  <div class="panel-body">

    <!-- Ficha -->
    <div class="thumbnail col-sm-4" ng-repeat="item in section.elementos">
      <img ng-src="<%item.img%>" width="150px" >
      <div class="caption">
        <h4>
          <samp><%item.name%></samp>
          <small class="text-right"><%item.basePrice |priceFilter %></small>
        </h4>
        <!-- <p class="text-left">
          <br/>
          <%item.description%>
        </p> -->
         <div class="text-center">
            <input type="checkbox" id="<%item.id%>" ng-disabled="item.disabled" ng-checked="item.checked" ng-model="item.checked"  ng-click="updateBill(section,item)"/>
            <label for="<%item.id%>"></label>
        </div>
      </div>
    </div> <!-- End Ficha -->
  </div>
</div>


