
<div class="col-sm-12 " > 
  <h6 class="info-text">Seleccionados</h6>
        <div class="">

          <div class="media" ng-repeat="billItem in billArray" >
            <div class="media-left">
               <a href="#">
                <img class="media-object" ng-src="<%billItem.url_img%>" width="40px">
               </a>
            </div>
            <div class="media-body">
              <h4 class="col-sm-8">
                  <samp>
                    <%billItem.nombre%>
                  </samp>
                  <small class="text-right ">
                    <%billItem.basePrice | priceFilter%>
                  </small>
                </h4>
            </div>
            <div class="media-right">
              <input type="checkbox" id="<%billItem.id%>" disabled  ng-checked="billItem.checked" ng-model="billItem.checked"  ng-click="updateBill(billItem)"/>
                  <label for="<%billItem.id%>"></label>
            </div>
          </div>
        </div>
</div>

<div class="col-sm-12 " > 
  <h6 class="info-text">Adicionales Seleccionados</h6>
    <div class="dataBox"  >
      <div class="media" ng-repeat="billItem in aditionalArray" >
        <div class="media-left">
           <a href="#">
            <img class="media-object" ng-src="<%billItem.url_img%>" width="40px">
          </a>
        </div>
        <div class="media-body">
          <h4 class="col-sm-8">
              <samp>
                <%billItem.nombre%>
              </samp>
              <small class="text-right ">
                <%billItem.basePrice | priceFilter%>
              </small>
            </h4>
        </div>
        <div class="media-right">
          <input type="checkbox" id="<%billItem.id%>" disabled ng-checked="billItem.checked" ng-model="billItem.checked"  ng-click="updateBill(billItem)"/>
              <label for="<%billItem.id%>"></label>
        </div>
      </div>
    </div>
</div>


<div class="col-sm-12 " > 
  <h6 class="info-text">Arquitectos Seleccionados</h6>
    <div class="dataBox"  >
      <div class="media" ng-repeat="arq in arqSelect" >
        <div class="media-left">
           <a href="#">
            <img class="media-object" ng-src="<%arq.url_img%>" width="40px">
          </a>
        </div>
        <div class="media-body">
          <h4 class="col-sm-8">
              <samp>
                <%arq.nombre%>
              </samp>
          </h4>
        </div>
        <div class="media-right">
          <input type="checkbox" id="<%arq.id%>" disabled ng-checked="arq.checked" ng-model="arq.checked"/>
          <label for="<%arq.id%>"></label>
        </div>
      </div>
    </div>
</div>

<div class="col-sm-12 " > 
  <h6 class="info-text">Total</h6>
  <small> SubTotal : <%bill.subTotalBill | currency%> </small>
    <br/>

    <small> Adicionales : <%bill.subTotalAditional | currency%> </small>
    <br/>

    <div ng-repeat="tax in bill.taxesArray">
       <small> <%tax.concepto%> : <%tax.taxAplay | currency%>  al <%tax.monto%>% </small>
       <br/>
    </div>
    
    <input type="number" class="form-control col-sm-6"  placeholder="Enganche" ng-model="hitch" required>
    <select class="form-control col-sm-6" ng-model="meses" ng-options="numbers for numbers in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]"
    required>
      <option value="">Meses sin intereses</option>  
    </select>

    <small> Total : <%bill.totalBill | currency%> </small>
    <br/>

    <small ng-show="hitch">Total - Enganche : <%bill.totalBill - hitch | currency%> </small>
    <br/>
    <small ng-show="meses">Pago mensual : <%((bill.totalBill - hitch) / meses) | currency%> a <%meses%> meses</small>
    
</div>
