<!--   Wizard Content   -->
<div class=" wizard-body col-sm-10 col-sm-offset-1 text-center">

      <h6 class="info-text">Descarga tu Cotización</h6>

      <div class="col-sm-12 btn-send">
        <a href="" class="fa-stack  fa-4x" ng-click="sendMail()">
          <i class="fa  fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-paper-plane fa-stack-1x"></i>
        </a>
        <h5><b>Envia a tu correo</b></h5>
      </div>

      <div class="col-sm-12">
         <h4 >Gracias por relizar tu cotización,
        <br/> 
        estas a punto de disfrutar 
        <br/> 
        una experiencia <b>increíble</b></h4>
        <form>
          <button class="btn btn-fill btn-warning btn-wd btn-sm btn-form" ng-disabled="send" onclick="location.reload();" >Finalizar</button>
        </form>
      </div>
</div><!--   END Wizard Content    -->