<!--   Wizard Content   -->
<div class=" wizard-body col-sm-10 col-sm-offset-1 text-center">


      <div class="col-sm-6 btn-send">
        <a href="" class="fa-stack  fa-4x">
          <i class="fa  fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-download fa-stack-1x"></i>
        </a>
        <h5><b>Descarga en PDF</b></h5>
      </div>
      <div class="col-sm-6 btn-send">
          <i class="fa  fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-paper-plane fa-stack-1x"></i>
        </a>
        <h5><b>Envia a tu correo</b></h5>
      </div>

      <div class="col-sm-12">
         <h4 >Gracias por relizar tu cotización,
        <br/> 
        estas a punto de disfrutar 
        <br/> 
        una experiencia <b>increíble</b></h4>
        <button class="btn btn-fill btn-warning btn-wd btn-sm btn-form" onclick="location.reload();" >Finalizar</button>
      </div>



</div><!--   END Wizard Content    -->