body {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #000000;
  background: #FFFFFF; 
  font-family: Helvetica, sans-serif; 
  font-size: 12px; 
  font-family: Arial;
  border: solid 1px black; 
}

header {
  margin-bottom: 30px;
}

h1 {
  color: #FFFFFF;
  font-size: 2em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
  background: #646161;
}

a {
  color: #646161;
  text-decoration: underline;
}

#logo {
  text-align: center;
  background: url(dimension.png);
  height: 3cm;
}

#logo img {
  height: 2cm;
  padding-top: 0.5cm;
  padding-bottom: 0.5cm;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#project {
  float: left;
  margin-left: 5%;
}

#project span {
  text-align: left;
  width: 52px;
  margin-left: 10px;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
}

#company {
  float: right;
  text-align: right;
  margin-right: 5%;
}

.right{
  text-align: right;
}

.left{
  text-align: left;
}

.center{
  text-align: center;
}

table {
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  margin-right: 5%;
  margin-left: 5%;
}

table tr:nth-child(2n-1) td {
  background: #f3f3f3;
}

table tr:nth-last-child(1) td {
  border-bottom: 1px solid #646161;
}

table th {
  padding: 5px 0px;
  color: #646161;
  border-bottom: 1px solid #646161;
  white-space: nowrap;        
  font-weight: bold;
  text-transform: uppercase;
  border-top: 1px solid #646161;
}

table td {
  padding: 2px 30px;
  text-align: left;
}

table td.total {
  font-size: 1.2em;
}

table td.grand {
  border-top: 1px solid #646161;
}

table td.info {
  background: #A2A2A2 !important;
}

table th.seccion,
table td.seccion {
  background-color: #444444;
  color: white;
}

footer {
  color: #646161;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}

footer p{
  text-align: justify;
}